.banneer {/*parte do fundo do site*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-left: 50px;
    margin-right: 50px;
}

.sobre{/*borda com efeito de vidro*/
    backdrop-filter: blur(5px);
    border: 1px solid #18929D;
    border-radius: 10px;
    text-align: center;
}

.prgf{/*mudança da cor do texto, tamanho da fonte e dos espaçamentos*/
    color: #fff;
    font-size: 20px;
    
}

.sobre h1{/*mudança da cor, tamanho da fonte e do espaçamento para baixo*/
    color: #fff;
    font-size: 40px;
    margin-bottom: 80px;
}
